// Entry point for application specific styles

// ------------------------------------------------------------
// LOGIN
// ------------------------------------------------------------

#service-login {

  input[type=text], .btn {
    width: 100%;
    margin-bottom: 12px;
  }

  input[type=text] {
    font-size: 1.4rem;
    height: 30px;
    text-align: center;
    color: #343434;
  }
}

.player, .designer, .superdesigner {

  $recHeight: 100px;
  $eltHeight: 30px;
  $eltBottomMargin: 10px;
  $btnBorderRadius: 15px;
  $navHeight: 40px;

  font-size: 1.6em;
  // background-color: #333;

  .section-top {
    // display: block;
    // overflow: hidden;
  }

  #nav {
    z-index: 2;
    display: block;
    position: relative;
    background-color: #444;
    height: $navHeight;
  }

  #openConfigBtn {
    position: relative;
    display: block; // Display block instead of inline
    top: 0px;
    text-align: center;
    text-decoration: none;
    color: #919191;
    font-size: 30px;
  }

  .section-center, .section-bottom {
    display: block;
    position: absolute;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    max-height: 0;
  }

  .section-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: $navHeight;
    background-color: #222;
    // background-color: rgb(50,50,50); // fallback
    // background-color: rgba(50,50,50,0.9);
    // overflow-x: hidden;
    overflow: hidden;
    transition: 0.3s;
  }

  .section-overlay.active {
    height: 100%;
  }

  .overlay-content {
    // position: absolute;
    margin: 10px;
  }

  select, input {
    width: 100%;
    height: $eltHeight;
    margin-bottom: $eltBottomMargin;
    margin-left: 16px;
    // padding-left: 12px;
  }

  input {
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    border: 0px;
    background-color: #def;
    font-size: 1.6em;

    width: 100%;
    height: $eltHeight;
    margin-bottom: $eltBottomMargin;

    border-radius: $btnBorderRadius;
    -moz-border-radius: $btnBorderRadius;
    -webkit-border-radius: $btnBorderRadius;
  }

  canvas#likelihoods {
    overflow: hidden;
  }

  .canvasDiv {
    display: block;
    position: relative;
    clear: both;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: $eltBottomMargin;
  }

  hr {
    display: inline-block;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .toggleDiv, .selectDiv, .triggerDiv {
    white-space: nowrap;
    height: $eltHeight;
    line-height: $eltHeight;
    margin-bottom: $eltBottomMargin;
  }

  .toggleDiv, .triggerDiv {
    float: left;
    clear: both;
  }

  .selectDiv {
    width: 100%;
    display: flex;
  }

  .toggleBtn, .triggerBtn {
    display: block;
    text-align: center;
    width: $eltHeight;
    height: $eltHeight;
    margin-right: 12px;
    float: left;
  }

  .toggleBtn.active:before {
    display: block;
    // position: absolute;
    padding: 0 0;
    top: 0px;
    left: 0px;
    content: 'X';
  }

  .triggerBtn.active:before {
    background-color: #00f; //if we want to make it blink
  }

  #recBtn {
    height: $recHeight;
  }

  #recBtn.active {
    background-color: #d00;
  }

  .audioDiv {
    float: left;
    width: 100%;
    height: $eltHeight;
    // clear: both;
  }

  #audioSliderDiv {
    display: flex;
    height: $eltHeight;
    line-height: $eltHeight;
  }

  input[type=range] {
    width: 100%;
  }
}
